*{
  margin:0;
  padding:0; ;
}
body{
  border:10px solid #1D1E4C;
    font-family: inherit;
}
/* Introduction CSS */
.parental_introduction{
  display: flex;
margin-left:97px;
margin-top: 113px;
}
/* Img CSS */
.container_img img{ 
  width:314px;
  height:392px;
  border-radius:170px;
}
/* Img CSS */
/* Text CSS */
.container_text{
  margin-left:130px; 
}
.container_text h2{
  margin-top:150px ;
  font-weight: 500;
  font-size:48px;
}
.container_text h5{
text-align: right;
font-weight: 500;
font-size: 24px;
}
/* Text CSS */
/* Introduction CSS */
/* Missile Man CSS */
.missile{
  margin-left:120px;
  margin-top:60px;
}
.missile h1{
margin-bottom:20px;
font-weight: 500px;
font-size:70px;
}
.missile p{
  font-size:17px;
 font-weight: 500;
 line-height: 22px;
}
.missile li{
    font-size:17px;
 font-weight: 500;
 line-height: 22px;
}
/* Missile Man CSS */
/* Biography CSS */
.biographies_text{
  margin-bottom: 20px;
}
  
/* Biography CSS */
/* Footer CSS */
.footer_wikipedia{
  text-align:right;
  margin-top: 100px;
  margin-bottom:30px;
  margin-right: 25px;
}
.footer_wikipedia a{
  text-decoration:none;
  color:#4174FE;
}
/* Footer CSS */